@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Sirin+Stencil&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font1: Verdana, sans-serif;
    --font2: 'Arvo', serif;
    --font3: 'Sirin Stencil', sans-serif;
    --cor1:black ;
    --cor2:white ;
}

html,body{
    min-height: 100vh;
    background-color: var(--cor1);
    font-family: var(--font1);
}
header{
    background-color: var (-- cor);
    color: var (--cor2);
    text-align: center;

} 



header > h1{
    margin-top:10px ;
    color:var(--cor2);
    font-family: var(--font2);
    font-size: 50px;
}

#imagem1{
    background-image: url(./img/arvore-solitaria.jpg);
}
#imagem2{
  background-image: url(./img/vecteezy_mars-purple-space-landscape-with-large-planets-on-purple_24495993.jpg);
}
#imagem3{
    background-image: url();

}